<div class="p-8 min-w-[250px]">
	<nav>
		<ul>
			<li>
				<a href="{{ route('dashboard') }}" class="hover:underline">Dashboard</a>
			</li>
			<li>
				<a href="{{ route('user.profile') }}" class="hover:underline">Profile</a>
			</li>
			<li>
				<a href="{{ route('user.settings') }}" class="hover:underline">Settings</a>
			</li>
		</ul>
	</nav>
</div>