<div class="p-8">
	<nav>
		<ul>
			<li>
				<a href="{{ route('dashboard') }}">Dashboard</a>
			</li>
			<li>
				<a href="{{ route('user.profile') }}">Profile</a>
			</li>
			<li>
				<a href="{{ route('user.settings') }}">Settings</a>
			</li>
		</ul>
	</nav>
</div>