<label class="grid gap-1">
	<span class="text-sm tracking-wide text-gray-800">{{label}}</span>
	<textarea name="{{ name }}" rows="{{ rows || 5 }}" required="{{ required }}"
		class=" border px-4 py-2.5 rounded-lg min-w-0">{{ value }}</textarea>
</label>