<article class="gap-4 grid grid-cols-subgrid col-span-full border py-2 px-4 rounded-lg">
	<span class="text-gray-500">{{ changelog.version }}</span>
	<h3>{{ changelog.title }}</h3>
	<a href="{{ route('changelog.show', { id: changelog.id }) }}" class="hover:underline text-blue-600">Open</a>
</article>