@component('layouts/app')
<h1 class="text-2xl mb-8">Create changelog</h1>

@forms.post({ action: route('changelog.create'), class: 'max-w-xl w-full flex flex-col gap-4' })

@!inputs.text({ label: 'Version', name: 'version', required: true })
@!inputs.text({ label: 'Title', name: 'title', required: true })
@!textArea({ label: 'Body', name: 'body', rows: 10 })
@!button.primary({ label: 'Create changelog', type: 'submit' })

@end

@end