@component('layouts/app')
<p>{{ changelog.version }}</p>
<h1 class="text-2xl">{{ changelog.title }}</h1>
<a href="{{ route('changelog.update.show', { id: changelog.id }) }}" class="block mb-8 text-blue-600">Edit</a>

{{ changelog.body }}
@end