<button type="{{ type || 'button' }}" {{ 
	$props.merge({
		class: ['rounded-lg px-4 py-2 min-w-[100px] flex justify-center items-center bg-transparent text-red-600 hover:bg-red-50 hover:underline']
	})
	.toAttrs()
}}>
	{{ label }}
</button>