@eval(await auth.check())

@component('layouts/guest')
<h1 class="text-4xl">Welcome to Changelog</h1>
@if(auth.isAuthenticated)
<a href="{{ route('dashboard') }}">
	@!button.primary({ label: 'Go to dashboard' })
</a>
@else
<a href="{{ route('auth.signup') }}">
	@!button.primary({ label: 'Sign up' })
</a>
<a href="{{ route('auth.login') }}">
	@!button.secondary({ label: 'Log in' })
</a>
@end
@end