@component('layouts/guest', {})
<h1 class="text-4xl">Welcome to Changelog</h1>
@if(auth.isAuthenticated)
<a href="{{ route('dashboard') }}">Go to dashboard</a>
@else
@!linkButton({ href: route('auth.signup'), label: 'Sign up' })
@end
@end